<ion-content>
  <ion-header>
    <ion-icon class="main-logo" id="car-logo" name="car-outline"></ion-icon>
    <b>Car Rental</b>
  </ion-header>
  <h2><b class="login-logo">Register</b></h2>
  <ion-item class="item-background-color">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label class="lable">Full Name</ion-label>
    <ion-input></ion-input>
  </ion-item> 

  <ion-item class="item-background-color">
    <ion-icon name="mail-outline"></ion-icon>
    <ion-label class="lable">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item class="item-background-color">
    <ion-icon name="phone-portrait-outline"></ion-icon>
    <ion-label class="lable">Mobile Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
    <ion-item class="item-background-color">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label class="lable">Create Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
   <ion-item class="item-background-color">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label class="lable">Confirm Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
<input type="checkbox" style="margin-left: 18px; border: 6px solid #004d40; font-size: 22em; ;"/>
<span style="color: #004d40; margin-left: 8px">by creating an account you agree to our terms <span style="margin-left: 40px;">and conditions and privacy policy</span></span> 
<ion-button expand="full">Register</ion-button>
<hr class="hr-text" data-content="OR">

  <div class="social-media-container">
    <ion-label class="social-media-label" color="medium">Continue with Social Media</ion-label>
    <ul>
    <li><ion-icon name="logo-facebook" class="social-media-icon" style="color: #4267B2;"></ion-icon></li>
    <li> <ion-icon name="logo-google" class="social-media-icon" style="color: #DB4437;"></ion-icon></li>
    <li><ion-icon name="logo-twitter" class="social-media-icon" style="color: #1DA1F2;"></ion-icon></li>
  </ul>
  </div>
</ion-content>



